pydantic # python type import
py3nvml # python nvidia gpu monitoring
ipdb # python debugging
jupyterlab # Jupyter
visidata # For viewing tables in terminal | visidata file.csv
icdiff # For comparing differences between files | Usage icdiff
grip # Visualizing markdowns | Usage: grip <filename> port
neovim # neoVIM
pynvim # neoVIM
powerline-status # VIM
python-language-server # VIM python language server
python-lsp-server # VIM python language servers
isort # VIM ALE import sort
black # VIM ALE code formatter
autoimport # VIM ALE autoimport

# jupyterlab-vim # Jupyter VIM
# termcolor # Python color
# nvidia-ml-py3
# rich # better debugging output
# tabview # For viewing tables in terminal
# mypy  # VIM python type checker
