pydantic # python type import
py3nvml # python nvidia gpu monitoring
ipdb # python debugging
jupyterlab # Jupyter
visidata # For viewing tables in terminal
icdiff # For comparing differences between files
grip # Visualizing markdowns. usage: grip <filename> port
neovim # VIM
pynvim # VIM
powerline-status # VIM
python-language-server # VIM python language server
mypy  # VIM python type checker
isort # VIM ALE import sort
black # VIM ALE code formatter
autoimport # VIM ALE autoimport

# jupyterlab-vim # Jupyter VIM
# termcolor # Python color
# nvidia-ml-py3
# rich # better debugging output
# tabview # For viewing tables in terminal
